SAVE
TEMP.*
src/*.o
dat/*.lev
dat/data
dat/dungeon
dat/dungeon.pdf
dat/nhdat
dat/options
dat/oracles
dat/quest.dat
dat/quest_levs
dat/rumors
dat/spec_levs
doc/Guidebook
include/date.h
include/dgn_comp.h
include/lev_comp.h
include/onames.h
include/pm.h
include/vis_tab.h
logfile
nhdat
record
src/config.h-t
src/hack.h-t
tags
util/dgn_comp
util/dgn_lex.c
util/dgn_lex.o
util/dgn_main.o
util/dgn_yacc.c
util/dgn_yacc.o
util/dlb
util/dlb_main.o
util/lev_comp
util/lev_lex.c
util/lev_lex.o
util/lev_main.o
util/lev_yacc.c
util/lev_yacc.o
util/makedefs
util/makedefs.o
util/panic.o
util/recover
util/recover.o
src/nethack
